streamlit>=1.29         #front end frame work for web apps
SUPABASE>=2.0.2         #supabase client for database operations
fastapi>=0.104.1        #backend api frame work
uvicorn>=0.24.0         #ASGI server for FASTAPI
python-dotenv>=1.0.0    #environment variable management

